<nav class="navbar navbar-dark bg-black justify-content-center">
  
    <a class="navbar-brand text-uppercase">
      Angular Simple CRUD
    </a>
  
</nav>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <li 
        *ngFor="let registro of registroArray"
        class="list-group-item list-group-item-action" (click)="abrirEdicion(registro)"
        [class.active]="registro == selectedRegistro">
        <span class=""> {{  registro.id  }} </span> {{ registro.nombre }} - {{ registro.pais}}
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
            <div class="card-title">
              Inserta nuevo registro

            </div>
            <div class="form-group">
              <input id="my-input" [(ngModel)]="selectedRegistro.nombre" class="form-control" placeholder="Ingresa el nombre" type="text">
            </div>
            <div class="form-group">
              <input id="my-input" [(ngModel)]="selectedRegistro.pais" class="form-control" placeholder="Ingresa el pais" type="text">
            </div>
            <button (click)="agregarOeditar()" class="btn btn-primary">Agregar / Modificar</button>
            <button
            *ngIf="selectedRegistro.id != 0"
            class="btn btn-danger"
            (click)="delete()">
            Eliminar</button>
        </div>
      </div>
  </div>
</div>
    <div class="col-md-4">

    </div>
</div>
<router-outlet />